body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 248, 235);
}

.header{
    background-color: rgb(28, 13, 45);
    color:aliceblue;
    height:55px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid #ccc;
}

.menu{
    margin-top: 10px;
}
.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.container{
    display:flex;
    gap:20px;
}

.card {
    width: 350px;
    height: 250px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align:center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.foot{
    text-align: center;
    height:58px;
    background-color: rgb(28, 13, 45);
}